*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

.body {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: #222831;
  font-size: 18px;
  line-height: 1.2em;
  color: #eee;
  font-weight: 400;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 512px;
    width: 1px;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}