.header {
  padding: 50px 96px  40px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo-image {
  width: 70%;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 48px;
  list-style: none;
  max-width: 50%;
}

.header__menu-link {
  color: #eee;
  text-decoration: none;
}

.hero {
  padding: 202px 0 64px;
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 12.5%;
  text-transform: uppercase;
}

.hero__title {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 96px;
  line-height: 96px;
  font-weight: 700;
  margin-bottom: 48px;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 47px;
    left: -95px;
    width: 79px;
    height: 202px;
    background-image: url(../images/doodle__arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-light {
  color: #eee;
}

.text-dark {
  color: #00adb5;
}